@page "/"




<style>
    body{
        background-color: #00000080;
    }
    h5{
        margin-top: 4%
    }
    section{
        
        font-weight: 700;
        font-size: 0.9rem;
        color: white;
        margin-top: 25%;
    }
</style>
<PageTitle>Valhalla</PageTitle>
<header>
<h1>Olá, Lendário!</h1>

<h5>Para uma melhor experiecia, Você deverá mostrar seu cristal na sessão Login...</h5>
<h4>Se não tiver um cristal você pode conquista-lo se registrando na sessão Login</h4>
   
    
</header>

<section>
    <p>
        Bem-vindo a Valhalla, a cidade mística onde a música é a força vital que
        une todos os seres. Uma vez a cada década, Valhalla sedia o "Festival de
        Música de Valhalla", um evento grandioso onde os melhores músicos do
        universo apresentam seus álbuns lendários. Este ano, como um dos
        escolhidos, você foi encarregado de criar o portal mágico (sistema web)
        onde os habitantes de Valhalla podem explorar esses álbuns e
        compartilhar seus sentimentos através de comentários.
    </p>
    <strong>
        Mas, há um desafio! Em Valhalla, a música é sagrada. Portanto, apenas
        os habitantes autenticados, aqueles que possuem o "Cristal de Acesso",
        podem deixar seus comentários nos álbuns. Você deve garantir que
        apenas esses indivíduos privilegiados possam adicionar seus
        sentimentos ao portal.
    </strong>
</section>

