@inherits LayoutComponentBase

<style>
    body{
        background-image: url(https://i.pinimg.com/originals/3e/72/ed/3e72edf10b0fb47799ec363788b80f40.jpg);
    }
</style>
<PageTitle>Valhahalha_Blazor_Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
